* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 20rem;
    
}

.card{
    background-color: blueviolet;
}